*{
	margin: 0px;
	padding: 0px;
}
h2{
	font-size: 30px;
}

hr{
	border-width:1px;
    border-color:grey;
    width:10%;
}

h3{
	font-size: 30px;
	color: #ffc8dd;
}
main{
	background-color: #ffafcc;
	padding: 5px;
	width: 25%;
}

.Contenido{
	display: flex;

}

img {
	margin: 50px;
	width: 200px;
	border-radius: 400px;
	overflow: hidden;
}

p{
	font-size: 20px;
	text-align: justify-all;
	padding: 5px;
}

ul{
	font-size: 20px;
	list-style: none;
}

body{
	background-color: #a2d2ff;
}

aside{
	background-color: white;
	padding: 15px;
	width: 50%;

}

header{
	background-color: #cdb4db;
	text-align: center;
	color: #80ffdb;
	width: 78.3%;
	
}
.body{
	margin-left: 150px;
    width: 90%;
}

ul {
	list-style:none;
}

.nav > li {
	float:left;
}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:5px;
	display:block;
}

.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
	}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
}

.nav{
	width: 78.3%;
}
